.body {
    font-family: sans-serif;
    font-size: 13px;
}

/* Оформление общих блоков input*/

.entry-field {
    position: relative;
    padding: 1rem 0;
    width: 352px;
    height: 400px;
    padding: 1rem 0px;
    border: 2px dashed #8055ff;    
    box-sizing: border-box;
    border-radius: 5px;
}

.entry-field__entering {
    padding: 8px 0px;
    position: absolute;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 48px;
    
}

.entry-field__incorrect {
    padding: 1rem 0;
    position: absolute;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 168px;
    
}

.entry-field__blocking {
    padding: 1rem 0;
    position: absolute;
    width: 256px;
    height: 72px;
    left: 48px;
    top: 288px;
}

/* "Дата и время" над тэгом input */

.entry-field__date-time {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
   
}

/* Оформление поля ввода в input */

.entry-field__input {
    padding: .5rem .5rem .5rem 0.5rem;
    width: 256px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #459df5;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.5rem 0;
}

.entry-field__input:focus {
    outline: 1px solid #459df5;
}

.entry-field__input::placeholder {
    color: #bad8f5;  
}

.entry-field__input__wrong {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 256px;
    height: 32px;
    background: #fff;
    border: 1px solid #F53152;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 8px 0px;
}

.entry-field__input__wrong:focus {
    outline: 1px solid #ff0000;
}

.entry-field__input__wrong::placeholder {
    color: #000;
}

.entry-field__input__blocking {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 256px;
    height: 32px;
    background: #bad8f5;
    border: 1px solid #459df5;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 8px 0px;
}

.entry-field__input__blocking:focus {
    outline: 1px solid #459df5;
}

.entry-field__input__blocking::placeholder {
    color: #000;
}

/* Иконки */

.entry-field__input__icon {
    position: absolute;
    width: 16px;
    height: 18px;
    left: 232px;
    top: 46px;
    fill: #000;
}

.entry-field__button {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 232px;
    top: 48px;
    border: none;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='none' stroke='%23bad8f5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3e%3c/svg%3e");
}

.entry-field__button:hover {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' stroke-width='3' fill='none' stroke='%23ff0000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3e%3c/svg%3e");
    cursor: pointer;
}

.entry-field__input__locked {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 232px;
    top: 48px;
    border: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 16 16' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 5C4 2.79086 5.79086 1 8 1C10.2091 1 12 2.79086 12 5V7C13.1046 7 14 7.89543 14 9V13C14 14.1046 13.1046 15 12 15H4C2.89543 15 2 14.1046 2 13V9C2 7.89543 2.89543 7 4 7V5ZM10 5V7H6V5C6 3.89543 6.89543 3 8 3C9.10457 3 10 3.89543 10 5Z' stroke='none'/%3e%3cpath d='M12 5C12 2.8 10.2 1 8 1C5.8 1 4 2.8 4 5L4 9H6V5C6 3.75 7 3 8 3C9 3 10 3.75 10 5V9H12V5Z' stroke='none'/%3e%3c/svg%3e");
}


















